---

---

<div class="Info">
	<div class="titleSection">
		<h1>Simple JSON Live Search</h1>
	</div>
	
	<div class="bodySection">
		<p>
			This demo showcases a simple display of data from a JSON file along with a basic live search function.
			<br/><br/>
			Coming Features:
			<ul>
				<li>Search category dropdown button</li>
				<li>separate, larger JSON file</li> 
				<li>limit per page + pagination</li>
			</ul>
		</p>
	</div>
	<div class="authorSection">
		<p>Alec Reimel | <a href="#">Planet Caravan Studios</a></p>
		
	</div>
</div>


<style>
	.Info{
		height: 100%;
	}
	.titleSection{
		height: 100px;
		padding:var(--padding-1);
		border-bottom: solid var(--border-width) var(--border-color);
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.bodySection{
		height: calc(100% - 200px);
		overflow-y: scroll;
		padding:var(--padding-1);
	}
	.authorSection{
		height: 100px;
		padding:var(--padding-1);
		border-top: solid var(--border-width) var(--border-color);
		display: flex;
		justify-content: center;
		align-items: center;
	}
</style>
